.hero-body {
    padding: 0.4rem 1.5rem;
}
.hero.is-primary {
    .title, .subtitle {
        color: $choco
    }
}
.main.is-fullheight {
    height: 100vh;
}
.hero.hero-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    .subtitle {
        font-size: 1em
    }
}

.table.is-small {
    font-size: 14px;
}

.title {
    font-weight: normal
}

.column-menu {
    padding-bottom: 0
}

.menu-list {
    padding-top: 6em;
    a {
        transition: background-color 300ms;
        border-radius: 0;
        padding: .9em 0 .9em 3.25em;
        .fa {
            position: absolute;
            font-size: 18px;
            margin-left: -30px;
        }
    }
}
.column.main {
    padding-top: 6em;
    padding-right: 1.5em;
    overflow: auto
}
.column.is-content {
    padding-top: 0;
    padding-left: 0;
}

@media screen and (min-width: 769px), print {
    .column.is-2, .column.is-2-tablet {
        width: 250px;
    }
}

.breadcrumb:not(:last-child) {
    margin-bottom: .5rem;
}

.level:not(:last-child) {
    margin-bottom: .8rem;
}

.router-link-active { @extend .is-active; }
.tabs.is-boxed li a.router-link-active {
    background-color: white;
    border-color: #dbdbdb;
    border-bottom-color: transparent !important;
}

.control.is-nested {
    padding-top: 10px;
}